<!DOCTYPE html>
<html lang="en">
<%= partial "header" %>
<body>
    <%= partial "nav" %>

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header" class="posttitle">
			              <%= current_article.title %>
                </h1>
                <p class="lead">
                  <%
                  twhandle = "thingforward"
                  if current_article.data.authortwitter && current_article.data.authortwitter.size > 0
                    twhandle = current_article.data.authortwitter
                  end
                  %>
                      by <a href="https://twitter.com/<%= twhandle %>"><%= current_article.data.author %></a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on <%= current_article.date.strftime('%b %e') %></p>

		                <%= yield %>

                <!-- go back -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#" onClick="history.go(-1); return false;">&larr; Back</a>
                    </li>
                </ul>

            </div>

            <%= partial "sidebar" %>

        </div>
        <!-- /.row -->

	<hr>
	    <div id="disqus_thread"></div>
	    <script>

		    /**
		     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
		      	var disqus_config = function () {
		          this.page.url = "www.thingforward.io";  // Replace PAGE_URL with your page's canonical URL variable
			        this.page.identifier = "<%= current_page.path %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			      (function() { // DON'T EDIT BELOW THIS LINE
			          var d = document, s = d.createElement('script');
				      s.src = '//thingforwardio.disqus.com/embed.js';
				          s.setAttribute('data-timestamp', +new Date());
					      (d.head || d.body).appendChild(s);
					      })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<script id="dsq-count-scr" src="//thingforwardio.disqus.com/count.js" async></script>

        <!-- Footer -->
        <%= partial "footer" %>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
